@import url('https://fonts.googleapis.com/css?family=Montserrat:900');
@import url('https://fonts.googleapis.com/css?family=Russo+One');

.menu{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    text-decoration: none;
    background: black;
    z-index: 3;
    padding: 2%;
  }

  .optionMenu{
      width: 100%;
      font-family:'Montserrat', sans-serif;
      color: #ecbf3a;
      text-decoration: none;
      font-size: 50px;
      text-align: center;
      background: none;
  }
  .optionMenu:hover{
      background-color: #0b4242;
      width: 100%;
  }

  .menuHeader{
  width: 100%;
  background-color: #08090a;
  margin: 1% 1%;
  min-height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;  
  color: white;
  font-weight: bolder;
  }

  .logo{
      width: 150px;
  }