@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900');

  .SplitPane {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 95vh;
  }
  
  
  .SplitPane-left {
    float: left;
    width: 40%;
    background: #0b4242;
    text-align: center
  }
  
  .SplitPane-right {
    float: left;
    width: 60%;
    background: #f2f3d9;
    color: #0b4242;
    text-align: center
  }
.foto{
  margin-top:10%;
  border-radius: 10px;
  box-shadow:  0 0 15px #001c1b;
  background: #0b4242;
}  

.titulo{
    color: #ecbf3a;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    margin-top:10%;
    margin-bottom: 0%;
    font-size: 100px;
    text-align: center;
}
.parrafo{
    margin: 10%;
    font-family: 'Montserrat', sans-serif;
}

.boton{
    font-family: 'Montserrat', sans-serif;
    border: 4px solid #ecbf3a;
    color: #ecbf3a;
    font-weight: bold;
    padding: 2%;
    font-size: 20px;
    text-align: center;
}
.boton:hover {
    background-color: #ecbf3a;
    border: 4px solid #fcfcfc;
    color: #fcfcfc;
  }

  @media (max-width: 1000px) {
  .SplitPane {
      flex-direction: column;
      flex-wrap: wrap;
    }
  .SplitPane-left {
      float: left;
      width: 100%;
      height: 50%;
  }
  .SplitPane-right {
    float: left;
    width: 100%;
    height: 50%;
    background: #fcfcfc;
    color: #0b4242;
  }
  }