.containerProyectos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 95vh;
  }
  
  
  .projectLeft{
    float: left;
    width: 50%;
    background: #002522;
    text-align: center;
  }
  
  .projectRight {
    float: left;
    width: 50%;
    background:#d8d6d9;
    text-align: center;
  }
 